datasets==1.14
librosa
pynvml
numpy==1.21.5
aiohttp>=3.13.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability