# Copyright (C) 2020-2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
sphinx-rtd-theme
sphinx-prompt 
sphinx_substitution_extensions 
sphinxcontrib-kroki
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
sphinx>=3.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
